﻿@using Resources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.PageName - @ViewBag.Title</title>

    <link href="@Url.Content("~/Content/semantic/semantic.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/notie.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />

</head>
<body>
    <header class="ui inverted fixed menu">
        <div class="ui container">
            <div id="brand-logo" class="header borderless item">
                <a href="@Url.Action("Index", "Home", new { area = "" })" title="@Resources.PageName">
                    <img src="@Url.Content("~/Content/images/logo.png")" alt="@Resources.PageName"/>
                </a>
            </div>
            @if (User.Identity.IsAuthenticated)
            {
                <div class="item">
                    <a href="@Url.RouteUrl(new {action = "Index", controller = "Manage" })">@User.Identity.Name</a>
                </div>

                <div class="right menu">
                    @if (User.IsInRole(Igbpy.Domain.Shared.Globals.Roles.Admin))
                    {
                    <div class="item">
                        @Html.ActionLink(Resources.Admin, "Index", "Home", new { area = "Admin" }, new { @class = "" })
                    </div>
                    }

                    <div class="item">
                        @Html.ActionLink(Resources.Logout, "Logout", "Account")
                    </div>
                </div>
            }
            else
            {
                <div class="right item">
                    @Html.ActionLink(Resources.Login, "Login", "Account")
                </div>
            }

        </div>
    </header>
    @RenderSection("beforeBodyContent", false)
    <main class="ui container body-content">
        @RenderBody()
    </main>

    <footer>
        <div class="ui container">
            <p>&copy; @DateTime.Now.Year - @Resources.PageName</p>
            <span class="poweredBy">@Html.Raw(Resources.PoweredByHtml)</span>
        </div>
    </footer>

    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/semantic/semantic.min.js")"></script>
    <script src="@Url.Content("~/Scripts/notie.min.js")"></script>
    <script src="@Url.Content("~/Scripts/Site.js")"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
