﻿@using Resources;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/style.css")" type="text/css">
    <link rel="stylesheet" href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" type="text/css">
    <title>It gets better py</title>
    <meta name="description" content="Donde todo mejora">
    <meta name="keywords" content="It gets better py paraguay">
    <script src="@Url.Content("~/Scripts/navbar-cover.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap/bootstrap.min.js")"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.min.js"></script>
    <script src="https://pingendo.com/assets/scripts/smooth-scroll.js"></script>
    <script src="https://pingendo.com/assets/scripts/slidein-images.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    @RenderSection("styles", required: false)

    @RenderSection("scripts", required: false)

    <script>
  $(document).ready(function(){
  $('a[href*=\\#]').on('click', function(event){
    event.preventDefault();
    $('html,body').animate({scrollTop:$(this.hash).offset().top-100}, 500);
});
  });
    </script>
</head>

<body class="text-center">
    <nav class="navbar navbar-expand-md navbar-light fixed-top" style="background-color:white !important">
        <div class="container-fluid">
            <a class="navbar-brand w-50" href="index.html">
                @*<img src="http://www.itgetsbetter.org/page/-/logo-assets/2016-igb-logo-site-header-same.png" width="30" height="20" class="d-inline-block align-top w-100 m-1 img-thumbnail" alt="">*@
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar2SupportedContent" aria-controls="navbar2SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbar2SupportedContent">
                <ul class="navbar-nav">
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="@Url.Action("index")#cover">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("index")#sobre">SOBRE IGBPy</a>
                    </li>
                    <li class="nav-item text-uppercase">
                        <a class="nav-link" href="@Url.Action("index")#footer">Contacto</a>
                    </li>
                    <a href="https://www.instagram.com/itgetsbetterpy/" target="_blank"><i class="fa fa-instagram text-muted pull-right m-1 fa-2x"></i> </a>
                    <a href="https://twitter.com/ItGetsBetterPy" target="_blank"> <i class="fa fa-twitter text-muted pull-right m-1 fa-2x"></i> </a>
                    <a href="https://www.facebook.com/ItGetsBetterPy/" target="_blank"> <i class="fa fa-facebook-square text-muted pull-right fa-2x m-1"></i> </a>
                </ul>
            </div>
        </div>
    </nav>
    @RenderSection("beforeBodyContent", false)
    <div class="content-body">
       @RenderBody()
    </div>
    <footer class="text-left bg-faded py-4" id="footer">
        <div class="container">
            <div class="row">
                <div class="my-3 col-lg-4 col-md-6">
                    <h3 class="pi-item">ASISTENCIA</h3>
                    <p>CONVERSEMOS?</p>
                    <p class="my-3"> </p>
                    <p class="text-gray-dark">
                        Estamos para que te sientas mejor.
                        <br> Para consultas podés escribirnos en Facebook e Instagram mandando un mensaje al buzón de nuestra página y conversarás con un especialista.
                        <br> Horarios:
                        <br>
                        <br> ● Lunes a viernes de 13:00 a 18:00 horas
                        <br>
                        <br> ● Domingos y Sábados de 15:00 a 20:00 horas
                    </p>
                    <a class="btn btn-lg btn-warning" href="asistencia.html">Mas opciones</a>
                </div>
                <div class="my-3 col-lg-4 col-md-6">
                    <h3 class="pi-item text-uppercase">Contacto</h3>
                    <form>
                        <fieldset class="form-group my-3">
                            <input type="email" class="form-control" id="Input Email" placeholder="Email">
                        </fieldset>
                        <fieldset class="form-group my-3">
                            <input type="message" class="form-control" id="Input Message" placeholder="Message">
                        </fieldset>
                        <button type="submit" class="btn btn-outline-info">Submit</button>
                    </form>
                </div>
                <div class="my-3 col-lg-4 col-md-12">
                    <h3 class="pi-item">SIGUENOS</h3>
                    <a href="https://www.facebook.com/itgetsbetterpy/" target="blank"><i class="fa fa-3x fa-facebook-square m-3 text-muted"></i></a>
                    <a href="https://www.instagram.com/itgetsbetterpy/" target="blank"><i class="fa fa-3x fa-instagram m-3 text-muted"></i></a>
                    <a href="https://twitter.com/itgetsbetterpy/" target="blank"><i class="fa fa-3x fa-twitter m-3 text-muted"></i></a>
                    <!-- <a href="https://plus.google.com" target="blank"><i class="fa fa-3x fa-google-plus-official m-3 text-muted"></i></a>
                    <a href="https://pinterest.com" target="blank"><i class="fa fa-3x m-3 text-muted fa-pinterest-p"></i></a>
                    <a href="https://www.youtube.com" target="blank"><i class="fa fa-3x m-3 text-muted fa-youtube-play"></i></a> -->
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 mt-3 text-center">
                    <p class="text-muted">© Copyright 2018 ItGetsBetterPy - All rights reserved. </p>
                </div>
            </div>
        </div>
    </footer>
    <iframe id="rufous-sandbox" scrolling="no" frameborder="0" allowtransparency="true" allowfullscreen="true" style="position: absolute; visibility: hidden; display: none; width: 0px; height: 0px; padding: 0px; border: none;" title="Twitter analytics iframe"></iframe>
</body>
</html>