﻿
@using Resources;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@Resources.PageName - @Resources.Error</title>

    <link href="@Url.Content("~/Content/semantic/semantic.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
</head>
<body>
    <div class="ui error message">
        <div class="ui huge header">
            @Resources.Error
        </div>
        <p>
            @Resources.Error_Description
        </p>
    </div>
</body>
</html>
