﻿@model Igbpy.ApiWeb.Models.Account.ForgotPasswordViewModel

@using Resources;
@{
    ViewBag.Title = Resources.Account_ForgotPassword_Title; // Resources.Resources.Account_ForgotPassword_Title;
}

<section id="forgot-password-section">
    <div class="ui huge header">
        @ViewBag.Title
    </div>

    <div class="ui segment">
        <form id="forgot-password-form" method="post" novalidate="novalidate" autocomplete="off" class="ui form">
            @Html.AntiForgeryToken()
            <div class="ui field">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { type = "email" })
            </div>
            <button type="submit" class="ui primary button">@Resources.Account_ForgotPassword_Submit</button>
        </form>
    </div>

</section>

@section scripts{
    <script src="@Url.Content("~/Scripts/semantic.validate.unobtrusive.js")"></script>
}