﻿
@using Resources;
@{
    ViewBag.Title = Resources.Account_ForgotPasswordConfirmation_Title;
}


<section id="forgot-password-confirmation-section">
    <div class="ui huge header">
        @ViewBag.Title
    </div>

    <div class="ui success message">
        @Resources.Account_ForgotPasswordConfirmation_Success
    </div>

</section>

