﻿@model Igbpy.ApiWeb.Models.Account.LoginViewModel

@using Resources;
@{
    ViewBag.Title = Resources.Account_Login_Title;
}

<section id="login-section">
    <div class="ui huge header">
        Login
    </div>
    <div class="ui segment">
        <form method="post" novalidate="novalidate" id="login-form" class="ui form">
            @Html.AntiForgeryToken()
            @Html.Hidden("returnTo", ViewData["returnTo"])
            <div class="ui form">
                <div class="field">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email)
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </div>
                <button class="ui button" type="submit">@Resources.Account_Login_Submit</button>
                <a href="@Url.Action("ForgotPassword")">@Resources.Account_Login_ForgotPassword</a>
            </div>
        </form>
    </div>
    <div class="ui segment">
        @Html.ActionLink("Registrarse", "Register", new { returnTo = ViewData["returnTo"] }, new { @class = "ui button" })
    </div>
</section>

@*<h3>Tambien puedes logarte mediante</h3>
        <div class="ui two columns stacked grid">
            <div class="column">
                <h4>Web</h4>
                <div class="ui segments">
                    @foreach (var login in Model.ExternalLogins)
                    {
                        <div class="ui segment">
                            <a href="@login.Url">@login.Name</a>
                        </div>
                    }
                </div>
            </div>
            <div class="column">
                <h4>Mobile</h4>
                <div class="ui segments">
                    <div class="ui segment">
                        <a href="http://localhost:8484/api/Account/ExternalLogin?provider=Google&response_type=token&client_id=web&redirect_uri=http%3A%2F%2Flocalhost%3A8484%2F&return_url=http%3A%2F%2Flocalhost%3A8484%2Fprivate">Google</a>
                    </div>
                    <div class="ui segment">
                        <a href="http://localhost:8484/api/Account/ExternalLogin?provider=Google&response_type=token&client_id=mobile&redirect_uri=http%3A%2F%2Flocalhost%3A8484%2F&return_url=http%3A%2F%2Flocalhost%3A8484%2Fprivate">Google (mobile)</a>
                    </div>
                </div>
            </div>
    </div>
*@



@section scripts {
    <script src="@Url.Content("~/Scripts/semantic.validate.unobtrusive.js")"></script>
}