﻿@model Igbpy.ApiWeb.Models.Account.RegisterViewModel

@using Resources;
@{
    ViewBag.Title = Resources.Account_Register_Title;
}

<section id="register-section">
    <div class="ui huge header">
        @ViewBag.Title
    </div>
    <form id="register-form" method="post" novalidate="novalidate" class="ui form">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        @Html.Hidden("returnTo", ViewData["returnTo"])
        <div class="ui form">
            <div class="field">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>
            <button class="ui button" type="submit">@Resources.Account_Register_Submit</button>
        </div>
    </form>
</section>

@section scripts {

    <script src="@Url.Content("~/Scripts/semantic.validate.unobtrusive.js")"></script>

}