﻿
@using Resources;
@{
    ViewBag.Title = Resources.Account_ResetPasswordConfirmation_Title;
}

<section id="reset-password-confirmation-section">
    <div class="ui huge header">
        @ViewBag.Title
    </div>

    <div class="ui success message">
        @Resources.Account_ResetPasswordConfirmation_Success
    </div>

</section>
