﻿@model Igbpy.ApiWeb.Models.Account.ResetPasswordViewModel

@using Resources;
@{
    ViewBag.Title = Resources.Account_ResetPassword_Title;
}

<section id="reset-password-section">
    <div class="ui huge header">
        @ViewBag.Title
    </div>
    <div class="ui segment">
        <form method="post" id="reset-password-form" class="ui form" novalidate="novalidate">
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "ui error messages" })

            @Html.HiddenFor(model => model.Code)
            <div class="ui field">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </div>
            <div class="ui field">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </div>
            <div class="ui field">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </div>

            <button type="submit" class="ui primary button">@Resources.Account_ResetPassword_Submit</button>
        </form>
    </div>
</section>

@section scripts {
    <script src="@Url.Content("~/Scripts/semantic.validate.unobtrusive.js")"></script>
}