﻿
    <div class="" id="sobre">
        <div class="container">
            <div class="row">

                <div class="col-12 col-md-12 text-left">
                    <h3>ASISTENCIA</h3>
                    <h4><span>CONVERSEMOS?</span></h4>
                    <p><span>Estamos para que te sientas mejor.</span></p>
                    <p><span>Para consultas pod&eacute;s escribirnos&nbsp; en </span><a href="https://www.facebook.com/todomejorapy"><strong><span>Facebook</span></strong></a><span> e Instagram mandando </span><a href="https://www.facebook.com/messages/207740982638602"><span>un mensaje</span></a><span> al buz&oacute;n de nuestra p&aacute;gina y conversar&aacute;s con un especialista.</span></p>
                    <p><span>Horarios:</span></p>
                    <ul>
                        <li><span>Lunes a viernes de 13:00 a 18:00 horas</span></li>
                        <li><span>Domingos y S&aacute;bados de 15:00 a 20:00 horas</span></li>
                    </ul>
                    <p><strong><span>MAIL DE APOYO</span></strong></p>
                    <p><span>Tenemos para vos un correo donde podr&aacute;s escribirnos, en cualquier momento, a nuestrxs especialistas y recibir el apoyo que est&aacute;s buscando.</span></p>
                    <p><span>Escr&iacute;benos a </span><a href="mailto:apoyo@itgetsbetterpy.org"><span>apoyo@itgetsbetterpy.org</span></a><span> y nos pondremos en contacto en la mayor brevedad posible. </span></p>
                    <p><strong><span>CENTROS AMIGABLES</span></strong></p>
                    <h4><span>Si quer&eacute;s hablar con un profesional personalmente contamos con toda una red de centros de salud, p&uacute;blicos y privados en los que podes confiar. Contamos con centros aliados de Todo Mejora en Asunci&oacute;n y el interior del pa&iacute;s.</span></h4>
                    <ul>
                        <li><strong><span>Red de ongs que trabajan con VIH/SIDA, Centro de Denuncias</span></strong></li>
                    </ul>
                    <p><span>Yegros 649 e/ Azara y Herrera. Asunci&oacute;n</span></p>
                    <p><span>Tel.: (021) 448 058 </span></p>
                    <p><span>Cel.: *3535 (Tigo)</span></p>
                    <p><strong><span>Horarios de atenci&oacute;n: </span></strong><span>09:00 a 16:00 hs.</span></p>
                    <p><span>http://www.denuncias-vih.org.py</span></p>
                    <hr />
                    <ul>
                        <li><strong><span>Aireana, grupo por los derechos de las lesbianas</span></strong></li>
                    </ul>
                    <p><span>Eligio Ayala 907, Asunci&oacute;n</span></p>
                    <p><span>Tel: 0800 110108, 021 492835</span></p>
                    <p><span>Cel: 0981 108 775</span></p>
                    <p><strong><span>Horarios de atenci&oacute;n:&nbsp; </span></strong><span>15:00. a 19:00 hs.</span></p>
                    <p><a href="http://www.aireana.com.py"><span>www.aireana.com.py</span></a></p>
                    <p><span>aireana@aireana.com.py</span></p>
                    <hr />
                    <ul>
                        <li><strong><span>Panambi, promoviendo y defendiendo los derechos de las personas trans</span></strong></li>
                    </ul>
                    <p>Jeju&iacute; 952 c/ Montevideo, Asunci&oacute;n</p>
                    <p>Tel: 021 446710</p>
                    <p><strong><span>Horarios de atenci&oacute;n:&nbsp; </span></strong><span>13:00. a 18:00 hs.</span></p>
                    <p><a href="http://www.panambi.org.py"><span>www.panambi.org.py</span></a></p>
                    <p><a href="mailto:info@panambi.org.py"><span>info@panambi.org.py</span></a></p>
                    <hr />
                    <ul>
                        <li><strong>SERPAJ - CODEHUPY - CDE, Jaikuaa</strong></li>
                    </ul>
                    <p>Prieto 352 c/ Rodi, Asunci&oacute;n</p>
                    <p>Tel: 021 481333</p>
                    <p>Cel: 0971 522800</p>
                    <p><strong><span>Horarios de atenci&oacute;n:&nbsp; </span></strong><span>&nbsp;08:00. a 17:00 hs.</span></p>
                    <p><a href="http://www.jaikuaa.org.py"><span>www.jaikuaa.org.py</span></a></p>
                    <p><a href="mailto:info@jaikuaa.org.py"><span>info@jaikuaa.org.py</span></a></p>
                    <hr />
                    <ul>
                        <li><strong><span>&Ntilde;epyr&ucirc;, Centro de Investigaci&oacute;n y Educaci&oacute;n Sexual</span></strong></li>
                    </ul>
                    <p>Cap. Figari c/ Ruta 7, Oviedo</p>
                    <p>Tel:: 521 200059</p>
                    <p>Cel: 0983 946134</p>
                    <p><strong><span>Horarios de atenci&oacute;n:&nbsp; </span></strong><span>10:00. a 17:00 hs.</span></p>
                    <p><span>www.facebook.com/cies.nepyru</span></p>
                    <p><span>grupo.nepyru@gmail.com</span></p>
                    <hr />
                    <ul>
                        <li><strong>Ministerio P&uacute;blico</strong></li>
                    </ul>
                    <p><strong>Unidad de Derechos Humanos.</strong></p>
                    <p>Redentorista del Paraguay c/ Calle 18</p>
                    <p>Tel: 021 302495</p>
                    <p><strong>Unidad de Trata de personas, explotaci&oacute;n sexual y violencia hacia ni&ntilde;os y adolescentes.</strong></p>
                    <p>Rojas Silva c/ Lomas Valentinas</p>
                    <p>Tel: 021 205851</p>
                    <p><a href="http://www.ministeriopublico.gov.py"><span>www.ministeriopublico.gov.py</span></a></p>
                    <p><a href="mailto:comunicaciones@ministeriopublico.gov.py"><span>comunicaciones@ministeriopublico.gov.py</span></a></p>
                </div>

            </div>
        </div>
    </div>


  