﻿

<div class="row" style="margin-top:60px">
    <div class="col-12 col-md-12 ">
        </div>
    </div>

    <div class="" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12 ">
                    <h3>Preguntas frequentes</h3>
                    <ul class="list-group text-left">
                        <li class="list-group-item"><a href="faq.html#quees">¿QUÉ ES IT GETS BETTER PARAGUAY?</a></li>
                        <li class="list-group-item"><a href="faq.html#cuando">¿CUÁNDO NACE IT GETS BETTER PARAGUAY?</a></li>
                        <li class="list-group-item"><a href="faq.html#motivacion">¿QUÉ MOTIVA NUESTRO TRABAJO?</a></li>
                        <li class="list-group-item"><a href="faq.html#ayudafamiliar">NECESITO AYUDA PARA UN FAMILIAR/AMIGX ¿CÓMO ME PUEDO CONTACTAR CON USTEDES?</a></li>
                        <li class="list-group-item"><a href="faq.html#docente">SOY PROFESOR/A DE ESTUDIANTES LGBT</a></li>
                        <li class="list-group-item"><a href="faq.html#conversar">SOY UN/A JOVEN Y ME GUSTARÍA CONVERSAR CON ALGUIEN SOBRE LO QUE ESTOY PASANDO</a></li>
                        <li class="list-group-item"><a href="faq.html#conversar">SOY MAMÁ/PAPÁ/FAMILIAR DE UN/A JOVEN LGBT, ¿A QUIÉN PUEDO ACUDIR?</a></li>
                        <li class="list-group-item"><a href="faq.html#atencionespecial">¿OFRECEN ATENCIÓN PRESENCIAL?</a></li>
                        <li class="list-group-item"><a href="faq.html#canalesapoyo">¿QUIENES ATIENDEN EN SUS CANALES DE APOYO?</a></li>
                        <li class="list-group-item"><a href="faq.html#fueraasuncion">NO VIVO EN ASUNCIÓN, ¿CÓMO PUEDO ACCEDER A LOS CANALES DE APOYO?</a></li>
                        <li class="list-group-item"><a href="faq.html#tallersalud">TRABAJO EN UN ESPACIO EDUCATIVO Y ME GUSTARÍA COORDINAR UN TALLER, ¿A QUIÉN DEBO CONTACTAR?</a></li>
                        <li class="list-group-item"><a href="faq.html#mediocomunicacion">TRABAJO EN UN MEDIO DE COMUNICACIÓN Y ME GUSTARÍA ENTREVISTARLOS, ¿A QUIÉN DEBO CONTACTAR?</a></li>
                        <li class="list-group-item"><a href="faq.html#voluntario">QUIERO SER VOLUNTARIX DE TODO MEJORA PARAGUAY, ¿QUÉ DEBO HACER?</</a></li>
                        <li class="list-group-item"><a href="faq.html#socio">QUIERO SER SOCIX DE ORGANIZACIÓN TODO MEJORA, ¿QUÉ DEBO HACER?</a></li>
                        <li class="list-group-item"><a href="faq.html#donacion">QUIERO HACER UNA DONACIÓN A LA ASOCIACIÓN, ¿CÓMO LO HAGO?</a></li>
                        <li class="list-group-item"><a href="faq.html#newsletter">¿CÓMO ME PUEDO SUSCRIBIR A SU NEWSLETTER?</a></li>
                    </ul>
                </div>
                <div class="col-12 col-md-12 ">
                    <h4 id="quees"> ¿QUÉ ES IT GETS BETTER PARAGUAY?</h4>
                    <p class="text-gray-dark text-justify">It Gets Better Paraguay es una organización sin fines de lucro que trabaja por el bienestar de niños, niñas y adolescentes lesbianas, gay, bisexuales y trans (LGBT) o que son percibidos como tal, mediante la prevención del bullying homofóbico. Somos afiliados oficiales para Paraguay de It Gets Better Project.</p>
                    <h4 id="cuando">¿CUÁNDO NACE IT GETS BETTER PARAGUAY?</h4>
                    <p class="text-gray-dark text-justify">Su trabajo se inició en diciembre del año 2012, dentro de la org. ParaGay, en 2014 se independiza, y en octubre del 2016 con la conformación de un equipo formado por profesionales de la comunicación y psicología, comenzando a implementar sus programas y áreas de trabajo en salud, contención, comunicación y educación.</p>
                    <h4 id="motivacion">¿QUÉ MOTIVA NUESTRO TRABAJO?</h4>
                    <p class="text-gray-dark text-justify">En Paraguay la discriminación a la comunidad LGBT sigue siendo un problema, especialmente entre los jóvenes adolescentes en escuelas o colegios, ante esta realidad trabajamos para que muchos niños, niñas y adolescentes LGBT, o percibidos como tal, que hoy no son capaces de ver un futuro para ellos, sepan que Todo Mejora.</p>
                    <h4 id="ayudafamiliar">NECESITO AYUDA PARA UN FAMILIAR/AMIGX ¿CÓMO ME PUEDO CONTACTAR CON USTEDES?</h4>
                    <p class="text-gray-dark text-justify">Contamos con un equipo de voluntarixs, quienes ofrecen apoyo a través de distintos canales de atención remota, que podés conocer AQUÍ</p>
                    <h4 id="docente">SOY PROFESOR/A DE ESTUDIANTES LGBT</h4>
                    <p class="text-gray-dark text-justify">Si eres profesor/a o cualquier integrante de un equipo educativo y estás preocupado por un estudiante LGBT, que es víctima de bullying homofóbico o sospechás de riesgo suicida en unx de ellxs, podés contar con nosotrxs y nuestros canales de apoyo.</p>
                    <h4 id="conversar">SOY UN/A JOVEN Y ME GUSTARÍA CONVERSAR CON ALGUIEN SOBRE LO QUE ESTOY PASANDO</h4>
                    <h4>SOY MAMÁ/PAPÁ/FAMILIAR DE UN/A JOVEN LGBT, ¿A QUIÉN PUEDO ACUDIR?</h4>
                    <p class="text-gray-dark text-justify">
                        Si eres padre, madre, familiar o cualquier adulto preocupado por un menor LGBT o que esté siendo víctima de bullying homofóbico o sospechás de riesgo suicida, podés contar con nosotrxs y nuestros canales de apoyo:
                        Para todos los casos favor diríjanse al mail de apoyo: conversemos@itgetsbetterpy.org
                        Conversemos: Espacio de conversación en línea durante seis horas al día, a través del chat de facebook de nuestro Fanpage. Revisa los horarios AQUÍ
                        Inbox de Facebook: Puedes enviarnos un mensaje interno en nuestro Fanpage y nuestrxs voluntarixs te responderán.
                    </p>
                    <h4 id="atencionespecial">¿OFRECEN ATENCIÓN PRESENCIAL? </h4>
                    <p class="text-gray-dark text-justify">
                        Hoy no ofrecemos atención presencial ya que contamos con una red de centros de salud amigables, cuyos profesionales se han comprometido con la creación de un espacio seguro para jóvenes LGBT, en donde prima el respeto.
                        Puedes conocer los centros amigables de It Gets Better Py AQUÍ
                    </p>
                    <h4 id="canalesapoyo">¿QUIENES ATIENDEN EN SUS CANALES DE APOYO?</h4>
                    <p class="text-gray-dark text-justify">Los canales de apoyo son atendidos por distintos profesionales, titulados y en formación, de la salud, con formación en diversidad sexual, prevención del suicidio y bullying, quienes trabajan de forma voluntaria. El equipo cuenta con la supervisión constante de nuestra encargado del área de Salud Mental, quien monitorea las atenciones y refuerza constantemente los conocimientos y habilidades del equipo.</p>
                    <h4 id="fueraasuncion">NO VIVO EN ASUNCIÓN, ¿CÓMO PUEDO ACCEDER A LOS CANALES DE APOYO?</h4>
                    <p class="text-gray-dark text-justify">Al ser canales de atención remota, podés acceder desde cualquier parte del país e incluso desde el extranjero. Conocé nuestros canales de apoyo AQUÍ</p>
                    <h4 id="taller">TRABAJO EN UN ESPACIO EDUCATIVO Y ME GUSTARÍA COORDINAR UN TALLER, ¿A QUIÉN DEBO CONTACTAR?</h4>
                    <p class="text-gray-dark text-justify">Si queres que vayamos a tu colegio y realicemos un taller para hacer de tu espacio un lugar seguro para la diversidad sexual, escribe a educacion@itgetsbetterpy.org </p>
                    <h4 id="tallersalud">TRABAJO EN UN CENTRO SALUD Y ME GUSTARÍA COORDINAR UN TALLER, ¿A QUIÉN DEBO CONTACTAR?</h4>
                    <p class="text-gray-dark text-justify">Si querés ser un centro aliado o bien querés transformarte en un espacio seguro para la diversidad sexual a través de talleres y capacitaciones, escribe a saludmental@itgetsbetterpy.org</p>
                    <h4 id="mediocomunicacion">TRABAJO EN UN MEDIO DE COMUNICACIÓN Y ME GUSTARÍA ENTREVISTARLOS, ¿A QUIÉN DEBO CONTACTAR?</h4>
                    <p class="text-gray-dark text-justify">Si te gustaría coordinar una entrevista con nosotrxs o querés que trabajemos en conjunto en algún proyecto comunicacional, escribía a info@itgetsbetterpy.org</p>
                    <h4 id="voluntario">QUIERO SER VOLUNTARIX DE TODO MEJORA PARAGUAY, ¿QUÉ DEBO HACER?</h4>
                    <p class="text-gray-dark text-justify">Si querés ser voluntarix de TMPy, podés escribirnos a info@itgetsbetterpy.org, o bien, completar este formulario.</p>
                    <h4 id="socio">QUIERO SER SOCIX DE ORGANIZACIÓN TODO MEJORA, ¿QUÉ DEBO HACER?</h4>
                    <p class="text-gray-dark text-justify">¡Muchas gracias por querer colaborar con nosotrxs! Si querés ser socix, podés completar tu información AQUÍ y te contactaremos. Si tenés dudas, podés escribir a info@itgetsbetterpy.org</p>
                    <h4 id="donacion">QUIERO HACER UNA DONACIÓN A LA ASOCIACIÓN, ¿CÓMO LO HAGO?</h4>
                    <p class="text-gray-dark text-justify">¡Muchas gracias por querer colaborar con nosotrxs! Si queres contribuir con una donación podes completar tu información AQUÍ. Si tenés dudas, puedes escribir a info@itgetsbetterpy.org</p>
                    <h4 id="newsletter">¿CÓMO ME PUEDO SUSCRIBIR A SU NEWSLETTER?</h4>
                    <p class="text-gray-dark text-justify">Si querés estar atentx a nuestras noticias y actividades, podés suscribirte a nuestro newsletter “Betternews” escribiendo a info@itgetsbetterpy.org</p>
                    IT GETS BETTER PARAGUAY ES MARCA REGISTRADA DE IT GETS BETTER PROJECT BAJO RESPONSABILIDAD DE LA ASOCIACIÓN DE PROFESIONALES PARA LA EDUCACIÓN Y DEFENSA DE LA DIVERSIDAD SEXUAL

                </div>

            </div>
        </div>
    </div>

