﻿@{


 }

    <div class="d-flex align-items-center h-50" id="cover">
        <div class="container">

           <!-- Aca es donde tiene que ir el carousel -->
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active"
                         style="background-image: url('@Url.Content("~/Content/images/header.jpg")'); background-size: 100%;     background-attachment:fixed;   background-position:center top ;background-repeat:no-repeat;">
                        <div class="row">
                            <div class="col-md-4 col-4"> </div>
                            <div class="col-md-4 col-4">
                                <img class="img-fluid d-block" src="@Url.Content("~/Content/images/15326365_1223420877742198_6367318607399786801_n.jpg")">
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                    @*<div class="item active">
                        <img src="@Url.Content("~/Content/images/header.jpg")">
                    </div>*@

                    <div class="item">
                        <img src="@Url.Content("~/Content/images/el_amor_vence.jpg")">
                    </div>

                    <div class="item">
                        <img src="@Url.Content("~/Content/images/derecho_a_amar.jpg")">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="" id="sobre">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 ">
                    <h3>IT GETS BETTER PARAGUAY</h3>
                    <p class="text-gray-dark text-justify">
                        El proyecto IGBPy tiene como misión inculcar a la comunidad educativa y a los jóvenes la igualdad, el respeto por los DDHH y la prevención de bullying homofóbico. Nos enfocamos en comunicar a los jóvene homosexuales, lesbianas, bisexuales y
                        transexuales de Paraguay que todo mejora, y ayudar a crear inspiraciones que generen cambios necesarios para su felicidad.
                    </p>
                    <p class="text-gray-dark text-justify">
                        Crecer no es fácil. Muchos jóvenes se enfrentan a diario a tormentos y la intimidación o bullying, lo que lleva a uno a sentir que no tiene donde ir. Esto está pasando realmente a los niños y adolescentes LGBT, que a menudo ocultan su sexualidad
                        por miedo a la intimidación. Sin otros adultos abiertamente homosexuales y tutores en sus vidas, es difícil imaginarse lo que el futuro pueda traer. En muchos casos, los adolescentes homosexuales y lesbianas son burlados - incluso torturados
                        - simplemente por ser ellos mismos.
                    </p>
                    <p class="text-gray-dark text-justify">
                        Mientras que muchos de estos adolescentes no pueden ver un futuro positivo para ellos mismos, ¿qué podemos hacer?. It Gets Better Paraguay fue creado para mostrar a la comunidad LGBT la felicidad, el potencial y la positividad que sus vidas
                        pueden alcanzar y lo más importante, que no están solos.
                    </p>
                    <a class="btn m-3 btn-warning text-gray-dark" href="@Url.Action("Nosotros")">Nosotros</a><a class="btn m-3 btn-warning text-gray-dark" href="@Url.Action("Faq")">Conoce más</a>
                </div>
                <div class="col-12 col-md-4">
                    <h3>@@ItGetsBetterPy</h3>
                    <p class="text-gray-dark">
                        <a class="twitter-timeline" data-lang="es" data-height="600" data-theme="dark" data-link-color="#981CEB" href="https://twitter.com/ItGetsBetterPy">A Twitter List by TwitterDev</a>
                        <script async="" src="http://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 section bg-primary" id="about">
        <div class="container">
            <div class="row w-75 mx-auto">
                <div class="col-md-12">
                    <h1 class="mb-4 text-uppercase">Que es IT GETS BETTER PROJECT?</h1>
                    <p class="lead text-justify">
                        En septiembre de 2010, el columnista y autor Dan Savage creó un vídeo de YouTube con su pareja Terry Miller para inspirar esperanza a jóvenes que se enfrentan a abusos. En respuesta a un número de estudiantes que se suicidaron tras haber sido
                        intimidados en la escuela, querían crear así una forma personal para que los activistas de todo el mundo contarán a los jóvenes LGBT que, sí, realmente, todo mejora.
                    </p>
                    <p class="lead text-justify">
                        El Proyecto It Gets Better se ha convertido en un movimiento mundial, inspirando más de 60.000 vídeos creados por usuarios, visto más de 60 millones de veces. Hasta la fecha, el proyecto ha recibido comunicaciones de celebridades, organizaciones,
                        activistas, políticos y personalidades de los medios, incluido el presidente Barack Obama, la candidata demócrata para la presidencia de EEUU, Hillary Clinton, o actores como Nancy Pelosi, Adam Lambert, Anne Hathaway, Colin Farrell, Matthew
                        Morrison de "Glee ", Joe Jonas, Joel Madden, Ke$ha, Sarah Silverman, Tim Gunn, Ellen DeGeneres, Suze Orman, el personales de compañías como Brecha, Google, Facebook, Pixar, la comunidad de Broadway, y muchos más, Cada video cambia una vida,
                        no importa quien lo haga.
                    </p>
                    <p class="lead text-justify">
                        ItGetsBetter.org es un lugar donde los jóvenes que son lesbianas, homosexuales, bisexuales o transgénero puede ver cómo el amor y la felicidad pueden ser una realidad en el futuro. Es un lugar donde nuestros aliados heterosexuales pueden visitar
                        y apoyar a sus amigos y familiares. Es un lugar donde la gente puede compartir sus historias, comprar en la tienda para sudvencionar actividades y ver vídeos de amor y apoyo.
                    </p>
                    <a class="btn m-3 btn-warning text-gray-dark" href="@Url.Action("Nosotros")">Conoce más</a><a href="http://www.itgetsbetter.org" target="_blank">Visita ItGetsBetter.org</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5" id="schedule">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="mb-4">Cajas</h1>
                </div>
            </div>
            <div class="row text-left">
                <div class="col-md-4">
                    <div class="card my-1 card-primary">
                        <div class="card-block text-center card-primary">
                            <h2>Caja1</h2>
                            <p class="lead">Caja1</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">
                                <p>Est es un texto</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-1 card-primary">
                        <div class="card-block text-center card-primary">
                            <h2>Caja2</h2>
                            <p class="lead">Caja2</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;09:30-10:00 –&nbsp;<b>Guest speech</b></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card my-1 card-primary">
                        <div class="card-block text-center">
                            <h2>Caja3</h2>
                            <p class="lead">Caja3</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><i class="mx-auto fa d-inline fa-clock-o"></i>&nbsp;09:30-10:00 –&nbsp;<b>Introduction to WBN</b></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="schedule.html" class="btn btn-outline-primary my-4">Más info</a>
                </div>
            </div>
        </div>
    </div>
    <div class="py-5 section bg-faded" id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-gray-dark mb-4">Sponsors</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_1.png">
                </div>
                <div class="col-md-3">
                    <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_4.png">
                </div>
                <div class="col-md-3">
                    <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_3.png">
                </div>
                <div class="col-md-3">
                    <img class="center-block img-fluid d-block mx-auto" src="https://pingendo.github.io/templates/events/logo_2.png">
                </div>
            </div>
        </div>
    </div>
    <div class="section bg-primary py-5" id="register">
        <div class="container">
            <div class="row mx-auto w-100">
                <div class="col-md-12">
                    <h5 class="text-white mb-4"><strong>ÚNETE A NUESTRO MOVIMIENTO - <span class="text-warning">TOMA NUESTRO VOTO RENOVADO</span></strong></h5>
                    <p class="mb-4 lead" style="font-size:35px;">
                        <em>
                            Creo en un mundo donde la esperanza brilla por encima del miedo. Me comprometo a defenderme y oponerme al odio ya la intolerancia. Mi apoyo a los jóvenes LGBTQ será firme. Soy parte de una comunidad global que es orgullosa y resuelta en sus
                            esfuerzos de crear un mundo más brillante, más inclusivo para todas las personas. Sé que va a mejorar.
                        </em>
                    </p>
                    <a class="btn btn-lg btn-warning" href="@Url.Action("Faq")">HAZTE VOLUNTARIO</a>
                </div>
            </div>
        </div>
    </div>
    <div style="display:none" class="section bg-inverse">
        <div class="container-fluid ">
            <div class="row" id="venue">
                <div class="align-self-center col-lg-6 col-md-12">
                    <h1 class="my-3">The venue</h1>
                    <p class="lead">
                        Empire State building
                        <br>350 5th Ave, Conference hall
                        <br>New York, NY 10118
                    </p>
                </div>
                <div class="p-0 col-lg-6 col-md-12">
                    <!--<img class="img-fluid already-visible" src="https://maps.googleapis.com/maps/api/staticmap?key=AIzaSyDW8nO9JhT_pEjebobq9pgUF2cEp0EUb1I&amp;center=empire+state+building&amp;zoom=15&amp;size=640x400&amp;sensor=false&amp;scale=2">-->
                </div>
            </div>
        </div>
    </div>
