﻿

<div class="row" style="margin-top:60px">
    <div class="col-12 col-md-12 ">
        </div>
    </div>

        <div class="" id="sobre">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-12 ">
                        <h3>Nosotros</h3>
                        <h4 id="quees">Sobre IT GETS BETTER PARAGUAY</h4>
                        <p class="text-gray-dark text-justify">El proyecto IGBPy tiene como misión inculcar a la comunidad educativa y a los jóvenes la igualdad, el respeto por los DDHH y la prevención de bullying homofóbico. Nos enfocamos en comunicar a los jóvene homosexuales, lesbianas, bisexuales y transexuales de Paraguay que todo mejora, y ayudar a crear inspiraciones que generen cambios necesarios para su felicidad.</p> <p class="text-gray-dark text-justify">
                            Crecer no es fácil. Muchos jóvenes se enfrentan a diario a tormentos y la intimidación o bullying, lo que lleva a uno a sentir que no tiene donde ir. Esto está pasando realmente a los niños y adolescentes LGBT, que a menudo ocultan su sexualidad por miedo a la intimidación. Sin otros adultos abiertamente homosexuales y tutores en sus vidas, es difícil imaginarse lo que el futuro pueda traer. En muchos casos, los adolescentes homosexuales y lesbianas son burlados - incluso torturados - simplemente por ser ellos mismos.
                        </p> <p class="text-gray-dark text-justify">
                            Mientras que muchos de estos adolescentes no pueden ver un futuro positivo para ellos mismos, ¿qué podemos hacer?. It Gets Better Paraguay fue creado para mostrar a la comunidad LGBT la felicidad, el potencial y la positividad que sus vidas pueden alcanzar y lo más importante, que no están solos.
                        </p>
                        <h4>Qué es IT GETS BETTER PARAGUAY?</h4>
                        <p class="text-gray-dark text-justify">IGBPy nace primero como Todo Mejora Paraguay un 10 de diciembre del 2012, gracias a la iniciativa de dos voluntarios de Cuerpo de Paz, Nikki Briggs y Emmett Sapp, ellos vieron oportuna tener una filial en Paraguay de It Gets Better Project, organización líder en EEUU en la prevención del bullying homofóbico a través de las redes sociales.</p> <p class="text-gray-dark text-justify">
                            Pero para que sea una realidad debían tener socios locales que empujen y ayuden a sacar adelante la idea de Todo Mejora, es así que se suman al equipo cuatro activistas paraguayos de la asociación ParaGay, una ong sin fines de lucro que venía trabajando por los derechos humanos de la comunidad LGBT desde 2006. .
                        </p> <p class="text-gray-dark text-justify">
                            Es así que a partir del 2013 ParaGay apoya las actividades de Todo Mejora a través de Diego Bazán, Moncho González, Marcos Cozzoli y Alejandro Cano, fervientes activistas con la consigna de educar en DDHH y prevenir el bullying homofóbico a los niños y jóvenes LGBT.
                        </p> <p class="text-gray-dark text-justify">
                            En 2014 el grupo decide separarse de ParaGay para seguir creciendo optando en ser independientes y poder así apuntar a proyectos más grandes y estables, aplicando programas que prevengan la homofobia, el suicidio adolescente, el rechazo familiar y toda forma de discriminación.
                        </p> <p class="text-gray-dark text-justify">
                            Tras tres años de actividades, el 15 de octubre del 2016, reunidos los nuevos integrantes del equipo psicólogos, comunicadores y activistas deciden fundar la Asociación de Profesionales para la educación y defensa de la diversidad sexual, bajo la marca de IT GETS BETTER PARAGUAY.
                        </p> <p class="text-gray-dark text-justify">
                            Queremos ser el canal donde tus historias cambien vidas.
                        </p> <p class="text-gray-dark text-justify">
                        </p>
                        <h4>Que es IT GETS BETTER PROJECT?</h4>
                        <p class="text-gray-dark text-justify">
                            En septiembre de 2010, el columnista y autor Dan Savage creó un vídeo de YouTube con su pareja Terry Miller para inspirar esperanza a jóvenes que se enfrentan a abusos. En respuesta a un número de estudiantes que se suicidaron tras haber sido intimidados en la escuela, querían crear así una forma personal para que los activistas de todo el mundo contarán a los jóvenes LGBT que, sí, realmente, todo mejora.
                        </p> <p class="text-gray-dark text-justify">
                            El Proyecto It Gets Better se ha convertido en un movimiento mundial, inspirando más de 60.000 vídeos creados por usuarios, visto más de 60 millones de veces. Hasta la fecha, el proyecto ha recibido comunicaciones de celebridades, organizaciones, activistas, políticos y personalidades de los medios, incluido el presidente Barack Obama, la candidata demócrata para la presidencia de EEUU, Hillary Clinton, o actores como Nancy Pelosi, Adam Lambert, Anne Hathaway, Colin Farrell, Matthew Morrison de "Glee ", Joe Jonas, Joel Madden, Ke$ha, Sarah Silverman, Tim Gunn, Ellen DeGeneres, Suze Orman, el personales de compañías como Brecha, Google, Facebook, Pixar, la comunidad de Broadway, y muchos más, Cada video cambia una vida, no importa quien lo haga.
                        </p> <p class="text-gray-dark text-justify">
                            <a href="http://www.itgetsbetter.org" target="_blank">ItGetsBetter.org</a> es un lugar donde los jóvenes que son lesbianas, homosexuales, bisexuales o transgénero puede ver cómo el amor y la felicidad pueden ser una realidad en el futuro. Es un lugar donde nuestros aliados heterosexuales pueden visitar y apoyar a sus amigos y familiares. Es un lugar donde la gente puede compartir sus historias, comprar en la tienda para sudvencionar actividades y ver vídeos de amor y apoyo.

                        </p>
                    </div>

                </div>
            </div>
        </div>


