﻿@section styles{

    <link href="@Url.Content("~/Content/jquery.socialfeed.css")" rel="stylesheet" type="text/css">
    <!-- font-awesome for social network icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
}

@section scripts{

    <script src="@Url.Content("~/Scripts/codebird.js")"></script>
    <!-- doT.js for rendering templates -->
    <script src="@Url.Content("~/Scripts/doT.js")"></script>
    <!-- Moment.js for showing "time ago" and/or "date"-->
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <!-- Social-feed js -->
    <script src="@Url.Content("~/Scripts/jquery.socialfeed.js")"></script>


    <script>
        $(document).ready(function () {
            $('.social-feed-container').socialfeed({
                // INSTAGRAM
                /*  instagram:{
                      accounts: ['@@teslamotors','#teslamotors'],  //Array: Specify a list of accounts from which to pull posts
                      limit: 2,                                    //Integer: max number of posts to load
                      client_id: '88b4730e0e2c4b2f8a09a6184af2e218',
                  },*/
                twitter: {
                    accounts: ['@@itgetsbetterpy', '#itgetsbetterpy'],
                    limit: 50,
                    consumer_key: 'qzRXgkI7enflNJH1lWFvujT2P', // make sure to have your app read-only
                    consumer_secret: '8e7E7gHuTwyDHw9lGQFO73FcUwz9YozT37lEvZulMq8FXaPl8O', // make sure to have your app read-only
                },

                // GENERAL SETTINGS
                length: 400,                                      //Integer: For posts with text longer than this length, show an ellipsis.
                template: "/template.html"
            });
        });
    </script>
}

<div class="row" style="margin-top:100px">
    <div class="col-12 col-md-12 ">
    </div>
</div>



<div class="" id="sobre">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-12 ">
                <h3>Noticias</h3>
                <div class="social-feed-container" style="width:100%">
                    Aguarde por favor...
                </div>


            </div>
        </div>
        </div>
</div>