﻿
@using Resources;
@{
    ViewBag.Title = Resources.Home_Private_Title;
}

@*<h2>Private</h2>
<p>
    Sección "privada" de la web. Sólo los usuarios registrados pueden acceder.
</p>
<p>
    Esto se logra con la etiqueta <b>[authorize]</b> en los controladores o acciones que quieran hacerse privados.
</p>*@
