﻿@model Igbpy.ApiWeb.Models.Manage.ChangePasswordModel

@using Resources;
@{
    ViewBag.Title = Resources.Manage_ChangePassword_Title;
}

<section id="change-password-section">
    <div class="ui huge header">
        @ViewBag.Title
    </div>
    <div class="ui segment">
        @if (ViewData["Success"] != null)
        {
            <div class="ui success message">
                @Resources.Manage_ChangePassword_SuccessMessage
            </div>
        }
        @if (ViewData["Error"] != null)
        {
            <div class="ui error message">
                @ViewData["Error"]
            </div>
        }
        <form class="ui form" method="post">
            @Html.AntiForgeryToken()
            @if (Model.HasPassword)
            {
                <div class="required field">
                    @Html.LabelFor(m => m.CurrentPassword)
                    @Html.PasswordFor(m => m.CurrentPassword, new { data_val = "true", data_val_required = Resources.Common_ValidationError_Required })
                </div>
            }
            <div class="required field">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </div>
            <div class="required field">
                @Html.LabelFor(m => m.ConfirmNewPassword)
                @Html.PasswordFor(m => m.ConfirmNewPassword)
            </div>
            <button type="submit" class="ui primary button">@(Model.HasPassword ? Resources.Manage_ChangePassword_Actions_ChangePassword : Resources.Manage_ChangePassword_Actions_SetPassword)</button>
        </form>
    </div>
</section>

@section scripts {
    <script src="@Url.Content("~/Scripts/semantic.validate.unobtrusive.js")"></script>
}