﻿@model Igbpy.ApiWeb.Models.Manage.IndexViewModel

@using Resources;
@{
    ViewBag.Title = Resources.Manage_Index_Title;
}

<div class="ui huge header">
    @ViewBag.Title
</div>
<div class="ui segment">
    <div class="ui vertical menu">
        <div class="header item">
            @Resources.Manage_Index_Operations
        </div>
        <div class="item">
            @Html.ActionLink(Model.HasPassword?Resources.Manage_Index_Operations_ChangePassword: Resources.Manage_Index_Operations_SetPassword, "ChangePassword")
        </div>
    </div>
</div>

