﻿
.filters > .item {
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
}

.checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"], .radio input[type="radio"], .radio-inline input[type="radio"] {
    margin: initial;
}


.action-image {
    border: 1px solid rgba(0,0,0,0.2);
    position: relative;
}

    .action-image .actions {
        position: absolute;
        top: 0;
        right: 0;
        margin: 5px;
    }

    .action-image .actions .action {
        margin: 5px;
    }
