﻿body {
    padding-top: 60px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


#brand-logo {
    padding: 0;
}

#brand-logo a {
    display: inline-block;
}

#brand-logo img {
    max-height: 50px;
    max-width: 150px;
    vertical-align: middle;
}

#home-map {
    height: 500px;
}

.filters.segment > .item {
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
}

body > footer {
    margin-top: 20px;
    padding: 10px 0;
}